<section aria-label="Section-Categories" id="Section-Categories">
  <h1 class="cat-header">Top Categories</h1>


  <div class="cat-menu">
  <span id="backwordbtn" class="material-symbols-outlined">
        arrow_back_ios
        </span>

  <div class="categories scrollbar">
    <div class="group-card">
        <p class="cat-name">Laptops</p>
      <div class="categoriesCard">
        <img src="images/laptops.jpg" alt="Loading" />
      </div>
    </div>



    <div class="group-card">
        <p class="cat-name">Home Appliances</p>
      <div class="categoriesCard">
        <img src="images/home_appliences.jpeg" alt="Loading" />
      </div>
    </div>

    <div class="group-card">
        <p class="cat-name">Smart Phones</p>
      <div class="categoriesCard">
        <img src="images/mobile_phones.jpg" alt="Loading" />
      </div>
    </div>

    <div class="group-card">
        <p class="cat-name">Accessories</p>
      <div class="categoriesCard">
        <img src="images/pc_accessories.jpg" alt="Loading" />
      </div>
    </div>

    <div class="group-card">
        <p class="cat-name">Monitors</p>
      <div class="categoriesCard">
        <img src="images/monitors.jpeg" alt="Loading" />
      </div>
    </div>

    <div class="group-card">
        <p class="cat-name">Headsets</p>
        <div class="categoriesCard">
            <img src="images/headsets.jpg" alt="Loading" />
          </div>
         
    </div>


    <div class="group-card">
        <p class="cat-name">Smart Watches</p>
        <div class="categoriesCard">
            <img src="images/smart_watches.jpg" alt="Loading" />
          </div>
    </div>


    <div class="group-card">
        <p class="cat-name">Camera & Accessories</p>
        <div class="categoriesCard">
            <img src="images/carmera_accessories.jpg" alt="Loading" />
          </div>
    </div>

    <div class="group-card">
        <p class="cat-name">Smart Televisions</p>
        <div class="categoriesCard">
            <img src="images/televisions.jpg" alt="Loading" />
          </div>
    </div>

    
  </div>


  <span  id="forwardbtn" class="material-symbols-outlined">
        arrow_forward_ios
        </span>


</div>

</section>
