<section aria-label="navbar-scection" >

  <nav class="nav">
    <div class="navtitle">
        <button class="sidebarbtn" onclick="MenuOpen()">

            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
      <p>Electrobuy</p>
    </div>

    <div class="navinput">
      <input
        type="text"
        name="searchitems"
        id="serachitemspc"
     
        placeholder="Search for Electronics..."
      >
    <div class="searchditemslist">
        <ul>
            <li>Smart Phones</li>
            <li>More</li>
        </ul>
    </div>

    </div>

    <div class="navroutes">
      <ul>
        <li class="mainnavroutes"><a href="/about">About</a> </li>
        <li class="mainnavroutes"><a href="/contact">Contact</a></li>
        <li class="mainnavroutes"><a href="/contact">Services</a></li>
        <li class="mainnavroutes"><a href="/categories">Categories</a></li>
        <li><p id="login-btn" class="loginbtn"> Login</p></li>
      </ul>
    </div>
  </nav>

  <div class="And-navinput">
    <input
      type="text"
      name="searchitems"
      id="serachitemsand"
   
      placeholder="Search for Electronics..."
    >
    <div class="searchditemslist">
      <ul>
          <li>Smart Phones</li>
          <li>Smart Phones</li>
          <li>Smart Phones</li>
          <li>Smart Phones</li>

          <li>More</li>
      </ul>
  </div>
  </div>

</section>
