<section aria-label="Sidebar-section" id="sidebarSection">
    <aside class="sidebar">
        <div class="sidebarcontent">
            <div class="closeMenuDiv">
                <p>Menu</p>
                <button onclick="CloseMenu()">

                    <span class="material-symbols-outlined"> close </span>
                </button>



            </div>

            <div class="sidebarContents">
                <ul>
                    <li><a href="/about"><span class="material-symbols-outlined">
                                info
                            </span> About</a></li>

                    <li><a href="/contact"><span class="material-symbols-outlined">
                                contact_page
                            </span>Contact</a></li>

                    <li><a href="/contact"><span class="material-symbols-outlined">
                                back_hand
                            </span>Services</a></li>

                    <li><a href="/topsellers"><span class="material-symbols-outlined">
                                whatshot
                            </span>Top Sellers</a></li>

                    <li><a href="/contact"><span class="material-symbols-outlined">
                                local_fire_department
                            </span>Deals</a></li>


                    <li><a href="/categories"><span class="material-symbols-outlined">
                                category
                            </span>Categories</a></li>



                    <li><a href="/categories">
                            <span class="material-symbols-outlined">
                                storefront
                            </span>Become a seller</a></li>

                </ul>
            </div>
        </div>

        <div class="sidebarfake"></div>
    </aside>
</section>